@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient-text {
  background: linear-gradient(135deg, rgb(67, 107, 74),rgb(213, 243, 41), rgb(255, 0, 242)) 0% 0% / 400% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientAnimation 8s infinite; /* Adjust the duration as needed */
}


